h3 {
    font-size: 1.5rem;
    font-family: Burbank Big Condensed;
    text-align: right;
    color: #546E7A;
}
h4 {
    font-size: 3rem;
    font-family: Burbank Big Condensed;
    margin-bottom: 6px;
    color: #880E4F;
    margin-top: 22px;
}

h5 {
    font-size: 1.5rem;
    font-family: Burbank Big Condensed;
    text-align: left;
    color: #546E7A;
}


h1 {
    font-size: 2.5rem;
    font-family: Burbank Big Condensed;
}

.MuiTypography-title-47{
  padding-left: 44px;
}

.MuiTableCell-numeric-77{
  text-align: left !important;
  font-family: Source Code, monospace !important;
}

.MuiTableCell-head-74{
  font-size: 1.8rem !important;
  color: #880E4F !important;
}

.MuiTableCell-body-75{
  color: #546E7A !important;
  font-family: Source Code, monospace !important;
}

.tableTitle{
  margin-bottom: 8px;
}


.mainSection {
  margin: 82px 64px;
}

p {
  font-size: 14px;
  font-family: Source Code, monospace;
}

body {
    margin: 0;
}

.rechart-wrapper {
  padding-bottom: 34px ;
}

.recharts-text {
  font-size: 10px;
  font-family: Roboto, sans-serif;
}

.barChart {
    margin: 0 auto;
    padding: 16px;
    /* min-width: 400px; */
}

.recharts-legend-item-text{
  font-family: Source Code, monospace;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: flex-start;
}

.SimpleAppBar-root-1{
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.childCard {
    margin-right: 32px;
}

.recharts-text{
  font-size:13px;
  font-family: Source Code Pro, monospace;
}

.chart-card{
  padding: 16px;
}

.barChartCard {
  margin-right: 32px;
}

.user-wrapper{
  margin-right: 102px;
}

.user-card{
  background-color: #FF4081;
  color: white;
  margin-bottom: 22px;
  border-radius: 2%;
  min-width: 145%;
  margin-top: -32px;
}

.list{
  padding: 16px 0 8px 22px;

}
